@font-face {
    font-family: "Cera";
    src: url("../fonts/Regular/cerabasic-regular-webfont.eot"), url("../fonts/Bold/cerabasic-bold-webfont.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Regular/cerabasic-regular-webfont.woff2") format("woff2"), /* Super Modern Browsers */
    url("./fonts/Bold/cerabasic-bold-webfont.woff2") format("woff2"), /* Super Modern Browsers */
    url("../fonts/Regular/cerabasic-regular-webfont.woff") format("woff"), /* Pretty Modern Browsers */
    url("../fonts/Bold/cerabasic-bold-webfont.woff") format("woff"), /* Pretty Modern Browsers */
    url("../fonts/Regular/cerabasic-regular-webfont.ttf") format("truetype"), /* Safari,Android,iOS */
    url("../fonts/Bold/cerabasic-bold-webfont.ttf") format("truetype"), /* Safari,Android,iOS */
    url("../fonts/Regular/cerabasic-regular-webfont.svg#svgFontName") format("svg"), /* Legacy iOS */
    url("../fontsBold/cerabasic-bold-webfont.svg#svgFontName") format("svg");
    /* Legacy iOS */
}

body {
    font-family: "Cera" !important;
}

/* ======= Responsive Font Size ========*/

h1, .h1 {
    font-size: 24px;
}

h2, .h2 {
    font-size: 20px;
}

h3, .h3 {
    font-size: 16px;
}

h4, .h4 {
    font-size: 15px;
}

h5, .h5 {
    font-size: 14px;
}

h6, .h6, p, .p {
    font-size: 13px;
}

.text-sm {
    font-size: 12px;
    line-height: 17px;
}

.text-xs {
    font-size: 12px;
    line-height: 18px;
}

@media (min-width:576px) {
    h1, .h1 {
        font-size: 28px;
    }
    h2, .h2 {
        font-size: 22px;
    }
    h3, .h3 {
        font-size: 17px;
    }
    h4, .h4 {
        font-size: 16px;
    }
    h5, .h5 {
        font-size: 15px;
    }
    h6, .h6, p, .p {
        font-size: 14px;
    }
    .text-sm {
        font-size: 13px;
        line-height: 17px;
    }
    .text-xs {
        font-size: 12px;
        line-height: 18px;
    }
}

@media (min-width:768px) {
    h1, .h1 {
        font-size: 32px;
    }
    h2, .h2 {
        font-size: 24px;
    }
    h3, .h3 {
        font-size: 18px;
    }
    h4, .h4 {
        font-size: 17px;
    }
    h5, .h5 {
        font-size: 16px;
    }
    h6, .h6, p, .p {
        font-size: 15px;
    }
    .text-sm {
        font-size: 13px;
        line-height: 17px;
    }
    .text-xs {
        font-size: 12px;
        line-height: 18px;
    }
}

@media (min-width:992px) {
    h1, .h1 {
        font-size: 36px;
    }
    h2, .h2 {
        font-size: 28px;
    }
    h3, .h3 {
        font-size: 20px;
    }
    h4, .h4 {
        font-size: 18px;
    }
    h5, .h5 {
        font-size: 17px;
    }
    h6, .h6, p, .p {
        font-size: 16px;
    }
    .text-sm {
        font-size: 14px;
        line-height: 17px;
    }
    .text-xs {
        font-size: 12px;
        line-height: 18px;
    }
}

@media (min-width:1200px) {
    h1, .h1 {
        font-size: 40px;
    }
    h2, .h2 {
        font-size: 32px;
    }
    h3, .h3 {
        font-size: 24px;
    }
    h4, .h4 {
        font-size: 20px;
    }
    h5, .h5 {
        font-size: 18px;
    }
    h6, .h6, p, .p {
        font-size: 16px;
    }
    .text-sm {
        font-size: 14px;
        line-height: 17px;
    }
    .text-xs {
        font-size: 12px;
        line-height: 18px;
    }
}

/* =========== Color ========== */

/* Text Color */

.text-dark-blue {
    color: #000028;
}

.text-paragraph {
    color: #6B6B6B;
}

/* Bg color */

.bg-blue {
    background: #1E96FA;
}

/* Border Color */

.border-dark-blue {
    border-color: #000028 !important;
}

.border-light {
    border-color: #F6F6F6;
}

/* Shadow */

.shadow-d {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.06);
}

/* === Background Image == */

.background-img {
    background: url('../images/blue-bg.svg') right top no-repeat, url('../images/red-bg.svg') left bottom no-repeat;
    background-size: auto, auto;
    transition-duration: 1s;
}

@media (max-width: 1326px) {
    .background-img {
        background-size: 72%, 64%;
    }
}

@media (max-width: 1200px) {
    .background-img {
        background-size: 70%, 64%;
    }
}

@media (max-width: 1024px) {
    .background-img {
        background-size: 75%, 68%;
    }
}

@media (max-width: 991px) {
    .background-img {
        background-size: 80%, 75%;
    }
}

@media (max-width: 767px) {
    .background {
        background-size: 90%, 82%;
    }
}

/* === Logo === */

.adjust-logo {
    max-width: 180px;
}

@media (min-width: 575px) {
    .adjust-logo {
        max-width: 250px;
    }
}

@media (min-width: 767px) {
    .adjust-logo {
        max-width: 300px;
    }
}

@media (min-width: 991px) {
    .adjust-logo {
        max-width: 400px;
    }
}

/* === Max Width ==== */

.max-w-1350px {
    max-width: 1350px;
}

/* === Height ==== */

.h-252px {
    height: 252px;
}

/* ==== Image Object Propertices ==== */

.object-contain {
    object-fit: contain;
}

.object-cover {
    object-fit: cover;
}

.object-center {
    object-position: center;
}